server.port=8080
spring.datasource.url=jdbc:postgresql://sua_url:sua_porta/nome_do_db
spring.datasource.username=seu_usuario
spring.datasource.password=sua_senha
spring.flyway.locations=classpath:db/migrations
spacy.uri=http://localhost:8000
score.weight.global.frequency=0.6
score.weight.personal.frequency=0.4
score.weight.global.cutoff=3000
score.weight.minimum.score=0.3
score.weight.decay=20

spring.application.name=backend
spring.devtools.restart.enabled=false
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=false
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.format_sql=true
spring.flyway.enabled=true